mat-form-field{
  margin: 0 15px 0;
}
mat-card{
  width: 40%;
  margin: 45px auto 0;
}
form{
  margin: 0 auto 0;
  width: 25vw;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 3.5rem;
  text-align: center;
}
button{
  width: 130%;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.btn-wrap{
  width: min-content;
  margin:auto;
}
