<h2>Add vehicle</h2>

<form>
  <div class="flex-row">
    <mat-form-field class="example-full-width">
      <mat-label>Vehicle name</mat-label>
      <input matInput placeholder="Enter name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Vehicle brand</mat-label>
      <input matInput placeholder="Enter Brand">
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field class="example-full-width">
      <mat-label>Vehicle name</mat-label>
      <input matInput placeholder="Enter name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Vehicle brand</mat-label>
      <input matInput placeholder="Enter Brand">
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field class="example-full-width">
      <mat-label>Vehicle name</mat-label>
      <input matInput placeholder="Enter name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Vehicle brand</mat-label>
      <input matInput placeholder="Enter Brand">
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field class="example-full-width">
      <mat-label>Vehicle name</mat-label>
      <input matInput placeholder="Enter name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Vehicle brand</mat-label>
      <input matInput placeholder="Enter Brand">
    </mat-form-field>
  </div>
</form>
<div class="btn-wrap">
  <button mat-raised-button color="accent">Add</button>
</div>
