h1{
  margin: 60vh 35vw 0 ;
  width: max-content;
  color: #ff4081;
}
.home-text{
  width: min-content;
  margin:35vh auto 0;
  font-size: 2rem;
}
.bg-fluid{
  filter: blur(2px);
  position: fixed;
  z-index: -1;
  width: 100%;
}
