.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
table{
  width: 750px;
}
button{
  margin: 10px;
}
