h1{
  text-align: center;
  font-size: 3.5rem;
}
mat-card{
  width: 70%;
  height: 65vh;
  margin: 6vh auto;
  overflow-x: scroll;
}
img{
  width: 5vw;
}
.record{
  padding: 0;
  margin: 4px auto 0;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .record-item{
    margin: 5px 15px 5px;
  }
  .record-spacer{
    flex: 1 1 0;
  }
  .p:hover{
    transition: ease-in-out 200ms;
    color: deeppink;
    transform: scale(104%);
    cursor: pointer;
  }
  button:hover{
    transition: ease-in-out 200ms;
    color: red;
  }
}
